CONDA_ENV=${CONDA_ENV:-rannc}
CONDA_INIT_SCRIPT="${HOME}/miniconda3/etc/profile.d/conda.sh"
if [[ ! -f ${CONDA_INIT_SCRIPT} ]]; then
   echo "Conda init script does not exist at ${CONDA_INIT_SCRIPT}"
   exit 1
fi
. "${CONDA_INIT_SCRIPT}"
conda activate ${CONDA_ENV}

module load boost/1.69.0 openmpi/4.0.5-cuda-10.2.89 cuda/10.2.89 nccl/2.10.3-1+cuda10.2 cudnn/7.6.5-cuda-10.2

export MPI_OPTS="--mca pml ucx --mca btl ^vader,tcp,openib --mca coll ^hcoll -x UCX_MEMTYPE_CACHE=n -x UCX_NET_DEVICES=mlx5_2:1 -x NCCL_IB_HCA=mlx5_2"
