[submodule "submodules/pybind11"]
	path = submodules/pybind11
	url = https://github.com/pybind/pybind11
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "submodules/spdlog_setup"]
	path = submodules/spdlog_setup
	url = https://github.com/guangie88/spdlog_setup
[submodule "submodules/toml11"]
	path = submodules/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json
