Bootstrap: docker-archive
From: ../outputs/___RUNTIME_IMAGE___.tar

%help

%setup

%files

%labels

%environment

%post
    echo ". /opt/conda/etc/profile.d/conda.sh" >> $SINGULARITY_ENVIRONMENT
    echo "conda activate rannc" >> $SINGULARITY_ENVIRONMENT

%runscript

%test
